//Created by navina on 14/10/16.

extends layout
block content

    h1 #{Tittle}
    p #{News}
    table
        tr
            td
                label Start date:
                label "#{Startdate}"
        tr
            td
                label End date:
                label "#{Enddate}
        tr
            td
                form(method='get' action='/news/edit/#{_id}')
                    input(type="submit", value="Edit")
            td
                form(method='get' action='/news/delete/#{_id}')
                    input(type="submit", value="Delete")