//Created by navina on 14/10/16.

extends layout
block content

    h1 #{Tittle}
    p #{News}
    script(type='text/javascript').
        console.log("Entered into script");
        var newsID = '#{_id}';
    script(src='/javascripts/deletenews.js')
    table
        tr
            td
                label Start date:
                label "#{Startdate}"
        tr
            td
                label End date:
                label "#{Enddate}
        tr
            td
                input(type="submit", value="Edit")
            td

                input(type="submit", value="Delete", onclick='deletenews()')