<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div>

        <h1>Edit News</h1>
        <form method='post' id="editNews" action='/news/edit' class="form-group">
            <input type="hidden" name="id" value="{{_id}}">
            <br>
            <input type="text" name="Tittle" id="Tittle" value="{{Tittle}}" class="form-control" required>
             <br>
            <textarea id="News" name="News" class="form-control" required>{{News}}</textarea>
             <br>
            <!--<input type="text" name="DisplayDate" id="DisplayDate" class="date" value="{{DisplayDate}}" required>-->
            <label>Diplay Date</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" class="form-control dis" name="DisplayDate" value="{{DisplayDate}}" required>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
            <!--<input type="text" name="EndDate" id="EndDate" class="date" value="{{EndDate}}" required>-->
            <label>End Date</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control end" name="EndDate" value="{{EndDate}}" required>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
            <br><button type="submit" class="btn btn-success"><b>Save</b></button>



        </form>
            <button class="admin_det_btn btn" id="cancel_edit"><b>Cancel</b></button>
        </div>
    </div>
</div>

<script src="/js/sidepanel_home.js"></script>
<!--set display date& end date-->
<script type="text/javascript">
    var disp="{{DisplayDate}}".slice(3);
    disp=disp.slice(0,-14);
    var end="{{EndDate}}".slice(3);
    end=end.slice(0,-14);
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

    $(function () {
        $('#datetimepicker2').datetimepicker();
    });
    $(function () {
        $(".dis").val(disp);
        $(".end").val(end);
    })

</script>
<!--validate form fields-->
<script>
    $(document).ready(function () {
        $("#editNews").validate({
            rules:{
                Tittle:{
                    required:true,
                    minlength:5,
                    maxlength:50
                },
                News:{
                    required:true,
                    minlength:15,
                    maxlength:500

                }
            },
            messsages:{

            },
            submitHandler: function(form){
                form.submit();
            }

        })
    })
</script>


<script>
    $(document).ready(function () {
        $("#cancel_edit").click(function () {
            $("#news_details").html(null);
        })
    })
</script>