<h3>Admins</h3>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="col-md-6 admin_search" style="width: 60%;margin-left: -15px">
            <div class="input-group">
                <input class="form-control" placeholder="Search" name="news_sear" id="admin_sear" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-primary" id="admin_sear_btn"><i class="glyphicon glyphicon-search"></i>

                    </button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-sm" id="admin_add" style="float: right">
            <span class="glyphicon glyphicon-plus"></span> New
        </button>
    </div>
    <div class="col-xs-6 col-md-6">

    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-md-6" style="overflow-y: scroll">
        {{#each admin}}
            <ul class="list-group">
                <a style="text-decoration: none" href="#" class="admin"><li class="list-group-item admin_li" id="{{this._id}}">
                    <h4>{{this.FirstName}} {{this.LastName}}</h4>
                    <p>{{this.Email}}</p>
                </li>
                </a>

            </ul>

        {{/each}}
    </div>
    <div class="col-xs-12 col-md-6">
        <div id="admin_details">
            <img src="/images/loading.gif" class="img-responsive" id="loading_gif">
        </div>
    </div>
</div>
<script src="/js/sidepanel_home.js"></script>

<!--detailed view of admin-->
<script type="text/javascript">
        {{#each admin}}
        $(document).ready(function(){

            $('#{{this._id}}').on('click', function(){
                $("#loading_gif").show();
                $(".admin_li").css("background","#fff");
                $(".admin_li").css("color","##0F3C3F");
                $(this).css("background","#18a39c");
                $(this).css("color","#fff");

                $.ajax({
                    url: "/admin/details/{{this._id}}",
                    method: "GET",
                    data: {

                    },

                    success: function(data, textStatus, jqXHR) {
                        console.log("succes");
                        console.log(data);
                        $("#loading_gif").hide();
                        $("#admin_details").show();
                        $("#admin_details").html(data);



                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log("error");
                    }
                });

            });
        });
        {{/each}}

</script>




















