
<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="col-md-6 news_search" style="width: 60%">
                <div class="input-group">
                    <input class="form-control" placeholder="Search" name="news_sear" id="news_sear" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" id="news_sear_btn"><i class="glyphicon glyphicon-search"></i>

                        </button>
                    </div>
                </div>
        </div>
        <button style="float: right" type="button" class="btn btn-default btn-sm " id="news_add">
            <span class="glyphicon glyphicon-plus"></span> New
        </button>
    </div>
    <div class="col-xs-6 col-md-6">
        <!--<button type="button" class="btn btn-default btn-sm " id="news_add">
            <span class="glyphicon glyphicon-plus"></span> New
        </button>-->
    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-6 col-md-6 news_list">
        <div class="news_box">
        <form id="NewsAndUpdates" method="get" action="" class="form-group">
            {{#each news}}
                <ul class="list-group abc">
                    <a href="#" class="news" style="text-decoration: none"><li class="list-group-item news_items" id="{{this._id}}">

                        <h4>{{this.Tittle}}</h4>
                        <p>{{this.News}}</p>
                    <div class="d-flex w-100 justify-content-between">
                        <small class="date{{this._id}}" style="float: right;margin-top: -5px"></small>
                    </div>
                   </li>
                    </a>

                </ul>
                <script>
                   /* adjust date length*/
                    var time="{{this.DisplayDate}}".slice(3);
                    time=time.slice(0,-14);
                    $(".date{{this._id}}").html(time);

                </script>
                <!--<script>
                    var news="{{this.News}}";
                    /*news=news.substr(0,40)+"...";*/
                    $(".news{{this._id}}").html(news);
                </script>-->

            {{/each}}
        </form>

    </div>

</div>
    <div class="col-xs-6 col-md-6" id="news_details">
        <img src="/images/loading.gif" class="img-responsive" id="loading_gif">
    </div>

</div>
<script src="/js/sidepanel_home.js"></script>

<!--display news details-->
<script type="text/javascript">
    {{#each news}}
    $(document).ready(function(){

        $('#{{this._id}}').on('click', function(){
            $("#loading_gif").show();
            $(".news_items").css("background","#fff");
            $(".news_items").css("color","##0F3C3F");
            $(this).css("background","#18a39c");
            $(this).css("color","#fff");

            $.ajax({
                url: "/news/detailedview/{{this._id}}",
                method: "GET",
                data: {

                },

                success: function(data, textStatus, jqXHR) {
                    console.log("succes");

                    $("#loading_gif").hide();
                    $("#news_details").show();
                    $("#news_details").html(data);



                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log("error");
                }
            });

        });
    });
    {{/each}}
</script>



