//
   Created by navina on 14/10/16
extends layouts/layout.hbs
block content
    h1 Admin Details

        each key in keys
           br
           label Email:
           label= admin[key].Email
           br
           label Created On:
           label= admin[key].CreatedOn
           br
           label Modified On:
           label= admin[key].ModifiedOn
           br
           label Last Login
           label= admin[key].LastLogin
           tr
               td
                   form(method='get' action='/admin/changepassword/#{admin[key].Email}')
                     input(type="submit", value=" Change Password")
               td
                   form(method='get' action='/admin/delete/#{admin[key]._id}')
                     input(type="submit", value="Delete")
           br
