<div class="panel breadcrumb" style="background-color: #ffffff">
    <li><a id="rootsyllabus" href="#">Course</a></li>
    <li><a id="rootcourse" href="#">{{courseName}}</a></li>
    <li><a id="rootsem"href="#">{{semName}}</a></li>
    <li><a href="#">{{brName}}</a></li>
    <li><a href="#">Create Subject</a></li>
    <div class="panel-body sy-menu text-center  " style="color:#ffffff;font-size: 20px;">CRETAE BRANCH</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <form id="uploadForm" enctype="multipart/form-data" action="/syllabus/course/sem/branch/addsubj/{{courseName}}_{{semName}}_{{brName}}" method="post" name="uploadForm">
                    <div class="form-group">
                        <label for="inputsm">Course Name</label>
                        <input class="form-control input-sm" value="{{courseName}}" id="inputcrs" name="inputcrs"
                               type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Semester Name</label>
                        <input class="form-control input-sm" value="{{semName}}" id="inputsm" name="inputsm" type="text"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Branch Name</label>
                        <input class="form-control input-sm" value="{{brName}}" id="inputbr" name="inputsm" type="text"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Subject Code</label>
                        <input class="form-control input-sm" id="inputsubcode" name="inputsubcode" type="text"
                               placeholder="Subject Code" required>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Subject Name</label>
                        <input class="form-control input-sm" id="inputsub" name="inputsub" type="text"
                               placeholder="Subject Name" required>
                    </div>

                    <div class="fileinput fileinput-new" id="formInfo">
                        <input name="myfile" type="file" accept="application/pdf"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Upload" name="submit">
                    </div>
                    <div class="uploadBar"></div>
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                    <div class="form-group">
                        <span id="status"></span>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
    $(document).ready(function() {

        $('#uploadForm').submit(function() {
            $("#status").empty().text("");
            $(this).ajaxSubmit({

                error: function(xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function(response) {
                    $("#status").empty().text(response);
                    document.getElementById('myBar').style.width="100%"
                    document.getElementById('myBar').innerHTML="100%"


                    console.log(response);
                },
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    //Upload progress
                    xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            //debugger;
                            console.log("Hello : "+
                                    percentComplete)
                            pdfloader((percentComplete*100).toFixed(1));
                            $('#inputsubcode').val("");
                            $('#inputsub').val("");
                        }
                    }, false);
                    return xhr;
                }
            });
            //Very important line, it disable the page refresh.
            return false;
        });
    });

</script>

<script src="/js/syllabus.js"></script>