<div class="panel breadcrumb" style="background-color: #ffffff">
    <li><a id="rootsyllabus" href="#">Course</a></li>
    <li><a id="rootcourse" name="course" href="#">{{course}}</a></li>
    <li><a id="rootsem" name="sem" href="#">{{sem}}</a></li>
    <li><a id="branch" name="branch" href="#">{{branch}}</a></li>
    <div class="top-bar">
        <div class="search-container">
            <input class="search" type="search" id="tbserch" onfocus="BindControls()" placeholder="Search">
            <div style="margin: 8px;color: white">
                <h4>BRANCH</h4>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="alert alert-success">
            <strong>{{branch}}</strong> Subject Details Menton in Bellow.
        </div>
    </div>

    <div class="panel-body">
        <button class="btn col-xs-12" id="add-subject" type="button">
            Create Subject
        </button>
    </div>
    <div id="middle"></div>
{{#each subjData}}

        <div class="input-group hide">
            <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
            <input id="subjectParant" type="taxt" value="{{this._id}}" class="form-control" name="subjectParant"
                   placeholder="Course Name"
                   required="hello">

        </div>
        <img src="/images/loading.gif" class="img-responsive" id="loading_gif">
    <div class="row">
    {{#each this.files}}

                <div class="thumbnail">
                    <div class="stbody">

                        <button target="_self" value="{{this}}"  onClick="dnldpdf(this)" class="stimg" >
                        </button>
                        <div id="objsub" class="sttext">
                            {{this}}
                        </div>
                        <div class="sttime">Click icon for download</div>

                    </div>
                </div>

            <!--<div class="col-sm-8 col-md-12">
                    <div class="thumbnail">
                        <div class="col-sm-8 col-md-12">
                            <div class="pdf-icon">
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-12">
                            <div class="pdf-name-area">
                                {{this}}
                            </div>
                        </div>
                        <!--
                        <button style="border:0px;width: 100%" value="{{this}}" >
                            <div class="caption" style="font-size:20px;" >
                                {{this}}
                            </div>
                        </button>
                        <div class="panel-body sy-menu"  style="height: 40px;">
                            <form  href="#">
                                <span class="glyphicon glyphicon-trash pull-left" style="font-size:20px; margin-top: -5px"></span>
                            </form >
                            <a >
                                <button type="submit"   class="glyphicon glyphicon-edit pull-right" style="font-size:20px; margin-top: -5px;background: none;border: 0px;"></button>
                            </a>
                        </div>-->
        </div>
        </div>
    {{/each}}

    </div>
{{/each}}

</div>

<script src="/js/syllabus.js"></script>


